<!--Login Page Starts-->
<form [formGroup]="loginForm" (ngSubmit)="loginMethod(loginForm.value.email,loginForm.value.password)">
  <section id="login" >
    <div class="container-fluid">
      <div class="row full-height-vh m-0">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="card" style="box-shadow: 0 4px 8px #27416F; border-radius: 10px">
            <div class="card-content">
              <div class="card-body login-img">
                <div class="row m-0">

                  <div class="col-12 bg-white px-4 pt-3">
                    <h4 class="card-title mb-2">Login</h4>
                    <hr>
                    <input
                      formControlName="email"
                      type="email"
                      class="form-control mb-3"
                      placeholder="Email"
                    />
                    <input
                      formControlName="password"
                      type="password"
                      class="form-control mb-3"
                      placeholder="Senha"
                    />
                    <div class="fg-actions d-flex justify-content-between float-right">
                      <div class="recover-pass">
                        <button class="btn btn-primary" style="float: right; background-color: #27416F; border: none">
                          <a class="text-decoration-none text-white" >Entrar</a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Login Page Ends-->
</form>
