<div class="project-management-list">
  <div style="width: 100%; height: 4px; background-color: #8d9ba2"></div>
  <div class="col" style="margin-left: 1px">
    <div class="row">
      <div (click)="emitRouteDestination('character')" class="card-char"></div>
    </div>
    <div class="row">
      <div (click)="emitRouteDestination('enemy')" class="card-enemy"></div>
    </div>
    <div class="row">
      <div (click)="emitRouteDestination('ui')" class="card-ui"></div>
    </div>
    <div class="row">
      <div (click)="emitRouteDestination('fx')" class="card-fx"></div>
    </div>
    <div class="row">
      <div (click)="emitRouteDestination('scenario')" class="card-scenario"></div>
    </div>
  </div>
</div>
