<pixel-botton-left-menu >

</pixel-botton-left-menu>

<pixel-left-image-list ></pixel-left-image-list>

<pixel-box-under-display>

</pixel-box-under-display>

<pixel-display-box>

</pixel-display-box>
<div class="display-box" style="justify-content: center; align-content: center; display: flex;">
  <div style="width: 50px; transform: scale(10); top: 20%; position: absolute">
    <pixel-animator ></pixel-animator>
  </div>
</div>

<pixel-color-list >

</pixel-color-list>

<pixel-botton-left-menu>

</pixel-botton-left-menu>

<pixel-right-menu >

</pixel-right-menu>

<pixel-botton-left-menu >

</pixel-botton-left-menu>

<!--<pixel-modal >

  <pixel-export-modal (modalOutput)="modalOutput($event)" [filePath]="filePath" [fileName]="fileName" [fileExtension]="fileExtension"></pixel-export-modal>

</pixel-modal>-->
