@import "~design-system/variables.scss";

::-webkit-scrollbar {
  width: 2px;
  height: 20px;
}
::-webkit-scrollbar-track {
  background: black;
//  border-bottom: 4px solid black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #847f86;
  border: $border-pixel solid black;
}

::-webkit-scrollbar-track-piece {
  height: $border-pixel;
}



.col-1 {
  max-width: 40px !important;
  margin: 0 !important;
  padding: 0 !important;

}

.color-list {
  position: fixed;
  background-color: #6e7780;
  border: $border-pixel solid black;
  height: 58px;
  width: calc(97% - (218px + (1.5 * #{$border-pixel}) ) );
  right: calc(2% - (1 *  #{$border-pixel}) - (#{$border-pixel} / 2));
  top: 62%;
  overflow-x: scroll;
  overflow-y: hidden;
  border-bottom: none;
}

