::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #000;
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323c39;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  margin: 0 ;
  padding: 0 !important;
}

.card-block {
  width: 32px;
  height: 32px;

}

.col-1 {
  max-width: 40px;
  margin: 0 !important;
  padding: 0 !important;
}

.top-left {
  width: 6px;
  height: 6px;
  margin-top: 0;
  margin-left: 0;
  background-color: black
}

.top-right {
  width: 6px;
  height: 6px;
  margin-top: -6px;
  margin-left: 24px;
  background-color: black
}

.bottom-left {
  width: 6px;
  height: 6px;
  margin-top: 18px;
  margin-left: 0;
  background-color: black
 }

.bottom-right {
  width: 6px;
  height: 6px;
  margin-top: 18px;
  margin-left: 18px;
  background-color: black
}
