::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #000;
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323c39;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.col-1 {
  max-width: 40px !important;
  margin: 0 !important;
  padding: 0 !important;

}

