.left-list {

  border: 2px solid black;

}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323c39;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
