@import "~design-system/variables.scss";

.bottom-left-menu {
  top: 72%;
  position: fixed;
  width: 34%;
  height: 25%;
  background-color: #6e7780;
  right: 42%;
  border: $border-pixel solid black
}
.row  {
  margin-top: 1rem;
  height: 2.2rem;
  cursor: pointer
}

.col-sm-2 {
max-width: 65px
}

p {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase
}

.col-sm-12 {
  margin: 1rem;
}

.active {
  color: black;
}

.line-under {
  width: 100%;
  height: $border-pixel;
  background-color: #8d9ba2;
  position: absolute;
}
