@import "~design-system/variables.scss";
::-webkit-scrollbar {
  width: 12px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: black;
 // border: 4px solid  #847f86;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #847f86;
  border: $border-pixel solid black;
 // border-right: 4px solid  $display-background-color;
}

::-webkit-scrollbar-track-piece {
  height: $border-pixel;
}


.bottom-left-menu {
  top: 72%;
  position: fixed;
  width: calc(59% - (218px + (1.5 * #{$border-pixel})));
  height: 25%;
  background-color: $display-background-color;
  right: calc((38% + (4 * #{$border-pixel})));
  border: $border-pixel solid $border-color
}
.row  {
  margin-top: 1rem;
  height: 2.2rem;
  cursor: pointer
}

.col-sm-2 {
max-width: 65px
}

p {
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase
}

.col-sm-12 {
  margin: 1rem;
}

.active {
  color: black;
}

.line-under {
  width: 100%;
  height: $border-pixel;
  background-color: #8d9ba2;
  position: absolute;
}


.this_text {
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-weight: normal;
  padding: 0 0 5px 0;
}

.this_text:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 4px;
  visibility: hidden;
  background-color: var(--color);
  -webkit-transition: all .1s ease;
  transition: all 0.3s ease;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.this_text:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}


@media screen and (max-width: 579px)  {
  .bottom-left-menu {
    width: calc(59% - (218px + (5 * #{$border-pixel}) ) );
  }
}

@media screen and (min-width: 580px) and (max-width: 679px) {
  .bottom-left-menu {
    width: calc(59% - (218px + (4 * #{$border-pixel}) ) );
  }
}

@media screen and (max-width: 780px) and (min-width: 680px) {
  .bottom-left-menu {
    width: calc(59% - (218px + (3.5 * #{$border-pixel}) ) );
  }
}

@media screen and (max-width: 1074px) and (min-width: 779px) {
  .bottom-left-menu {
    width: calc(59% - (218px + (3 * #{$border-pixel}) ) );
  }
}

@media screen and (min-width: 1075px) and (max-width: 1374px) {
  .bottom-left-menu {
    width: calc(59% - (218px + (2.5 * #{$border-pixel}) ) );
  }
}

.btn-app {
  border-radius: 0;
  border: $border-color $border-pixel solid;
  background-color: $input-background-color;
  display: inline-block;
  font-size: 1.2rem;
  color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:100% 100%;
}
