<div class="row" style="margin: 0; padding: 1rem">


  <div class="col-sm-2">


   <div class="row">
     <pixel-botton-left-menu ></pixel-botton-left-menu>
   </div>
   <div class="row">
     <pixel-left-image-list (image)="pushImage($event)" [metadata]="metadataArray"></pixel-left-image-list>
   </div>
  </div>

  <div class="col-sm-8">
    <div style="position: fixed; width: 77%; top: 1%; right: 1%; height: 60%; background-color: #847e87; border: 4px solid black">
      <div class="col-sm-12" style="display: flex; justify-content: center; align-content: center; padding-top: 50%; padding-right: 20%">


        <div class="row" style="transform: scale(10); position: absolute; margin-top: 7%; top: 0">

          <pixel-animator [imagesArray]="imagesArray()" [selectedAnimation]="selectAnimation"></pixel-animator>

        </div>

      </div>
    </div>
  </div>

  <pixel-color-list (color)="receivColor($event, selectedColorIndex)" [pallete]="palletService.getPalettes()"></pixel-color-list>

  <pixel-botton-left-menu></pixel-botton-left-menu>

  <pixel-right-menu *ngIf="imagesArray().length > 0" (selectedAnimation)="receivAnimation($event)" [AnimationArray]="imagesArray()[0].metadata.animations" [ImageArray]="imagesArray()"></pixel-right-menu>

  <pixel-botton-left-menu (index)="receivIndex($event)" [colorsArray]="colors"></pixel-botton-left-menu>

</div>

<pixel-modal *ngIf="showExportModal" (modalOutput)="modalOutput($event)" [title]="modalTitle">

  <pixel-export-modal (modalOutput)="modalOutput($event)" [filePath]="filePath" [fileName]="fileName" [fileExtension]="fileExtension"></pixel-export-modal>

</pixel-modal>
