.custom-file-label {
  cursor: pointer;
  border: 1px solid #000;
  &::after {
    background-color: #ffc107;
    color: #000000;
    content: 'Pesquisar' !important;
  }
}

.input-text {
  cursor: pointer;
  border: 1px solid black;box-shadow: none !important;
  background-color: #ffc107;
  color: black
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


::-webkit-scrollbar {
  width: 0;
}


.button-save {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 999;

}

.btn-warning-save {

  padding: 1rem !important;
  font-size: 1.2rem;
  font-weight: 500;


}
