<div class="row" style="margin-bottom: 0">
  <div class="col-sm-12" style="justify-content: center; align-content: center; display: flex; margin-bottom: 0">
    <p style="font-weight: 500; font-size: 1.5rem; color: white; margin-bottom: 0; text-transform: capitalize">{{Animation.name}}</p>
  </div>
</div>
<div style="margin-top: 0" class="card-animation"  >
<div class="col-sm-12" style="border: 4px solid #141c0c; margin-top: 0">


   <div class="" style="transform: scale(5); padding-bottom: 1%">
     <pixel-animator  [selectedAnimation]="selectedAnimation" [imagesArray]="imagesArray">

     </pixel-animator>
   </div>

</div>
</div>
