

.card-animation {
  height: 80%;
  width: 150%;
  background-color: transparent;
  justify-content: center;
  display: flex
}

.ttt {
  justify-content: center; align-content: center; display: flex; margin-bottom: 0
}

p {
  font-weight: 500; font-size: 18px; color: white; margin-bottom: 0; text-transform: capitalize
}
