@import "~design-system/variables.scss";

::-webkit-scrollbar {
  width: 2px;
  height: 20px;
}
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323c39;
  border: $border-pixel solid black;

}

::-webkit-scrollbar-track-piece {
  height: $border-pixel;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.right-menu {
  top: 72%;
  position: fixed;
  width: 38%;
  height: 25%;
  background-color: #6e7780;
  right: 4%;
  border: $border-pixel solid black;
  overflow: hidden;
}

/** {
  outline: 1px solid red;
}*/

.col-sm-3 {
  width: calc(100% + 2rem);
  padding: 0 !important;
}



