@import "~design-system/variables.scss";

.project-management-list {
  position: fixed;
  left: 1%;
  height: 98%;
  top: 1%;
  bottom: 1%;
  width: 208px;
  overflow: hidden;
  background-color: $display-background-color;
  border: $border-pixel solid black;
  padding-bottom: 2rem
}

.card-plus {
  background-image: url('~src/assets/imgs/plus.png');
  image-rendering: pixelated;
  width: 198px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 190px;
  margin-top: 4px;
}

.card-sprite {
  image-rendering: pixelated;
  width: 198px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 190px;
  margin-top: 4px;
}




