@import "~design-system/variables.scss";


.right-menu {
  top: 72%;
  position: fixed;
  width: calc(36%);
  height: 25%;
  background-color: #6e7780;
  right: calc(2% + (2.4 *#{$border-pixel}));
  border: $border-pixel solid black;
  overflow: hidden;
}

/** {
  outline: 1px solid red;
}*/

.col-sm-3 {
  width: calc(100% + 2rem);
  padding: 0 !important;
}



.line-under {
  width: 100%;
  height: $border-pixel;
  background-color: #8d9ba2;
  position: absolute;
}
