<div style="top: 72%; position: fixed; width: 40%; height: 27%; background-color: #847e87; right: 2%; border: 4px solid black; overflow-x: scroll" class="row flex-nowrap">
 <pixel-card-animation (click)="emitSelectedAnimation(i)" *ngFor="let animation of AnimationArray; let i = index" style="margin: 1rem 3rem 1rem 1rem"
   [id]="i + stringkkk"
   [style.z-index]="i + 5"
   [selectedAnimation]="i"
   [animation]="AnimationArray"
   [Animation]="AnimationArray[i]"
   [imagesArray]="ImageArray"
 ></pixel-card-animation>

</div>


