<div style="justify-content: center; align-content: center; display: flex" class="row flex-nowrap right-menu">

<div class="col-sm-3">
  <!-- CAROUSEL LEFT -->


  <pixel-card-animation (click)="emitSelectedAnimation(leftSlide)"  style="margin: 1rem 3rem 1rem 1rem"
                        [id]="leftSlide + stringkkk"
                        [style.z-index]="leftSlide + 5"
                        [selectedAnimation]="leftSlide"
                        [animation]="AnimationArray"
                        [Animation]="AnimationArray[leftSlide]"
                        [imagesArray]="ImageArray"
                        [marginTop]="'-4px'"
                        [transformScale]="'scale(4)'"
                        [marginLeft]="'0'"
                        [opacity]="'50%'"
  ></pixel-card-animation>
</div>

<div class="col-sm-3">
  <!-- CAROUSEL MIDDLE -->
  <carousel class="animation-carousel" [activeSlide]="activeSlide" (activeSlideChange)="changeActiveSlide($event)" [interval]="0">
    <slide *ngFor="let animation of AnimationArray; let i = index" style="height: 250px; width: 200px">
      <pixel-card-animation (click)="emitSelectedAnimation(i)"  style="margin: 1rem 3rem 1rem 1rem"
                            [id]="i + stringkkk"
                            [style.z-index]="i + 5"
                            [selectedAnimation]="i"
                            [animation]="AnimationArray"
                            [Animation]="AnimationArray[i]"
                            [imagesArray]="ImageArray"
                            [transformScale]="'scale(5)'"
                            [marginLeft]="'0'"
      ></pixel-card-animation>
    </slide>
  </carousel>
</div>

<div class="col-sm-3">
  <!-- CAROUSEL MIDDLE -->

  <pixel-card-animation (click)="emitSelectedAnimation(rightSlide)"  style="margin: 1rem 3rem 1rem 1rem"
                        [id]="rightSlide + stringkkk"
                        [style.z-index]="rightSlide + 5"
                        [selectedAnimation]="rightSlide"
                        [animation]="AnimationArray"
                        [Animation]="AnimationArray[rightSlide]"
                        [imagesArray]="ImageArray"
                        [marginTop]="'-4px'"
                        [transformScale]="'scale(4)'"
                        [marginLeft]="'0'"
                        [opacity]="'50%'"
  ></pixel-card-animation>

</div>

</div>


