

.card {
  margin: 0;
  padding: 0 !important;
}

.card-block:hover {

}

.card-block {
  height: 30px;
  width:  30px;
  border: none;
}

.top-left {
/* outline: 1px solid green;*/
  position: absolute;
  height: 5px;
  width: 5px;
  top: 0;
  left: 0;
}

.top-right {
/* outline: 1px solid green;*/

  position: absolute;
  height: 5px;
  width: 8px;
  top: 0;
  right: 29%;
}
.bottom-left {
/* outline: 1px solid green;*/
  position: absolute;
  height: 5px;
  width: 5px;
  bottom: 0;
  left: 0;
}

.bottom-right {
/* outline: 1px solid green;*/
  position: absolute;
  height: 5px;
  width: 8px;
  bottom: 0;
  right: 29%;
}



