::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #000;
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323c39;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  margin: 0 ;
  padding: 0 !important;
}

.card-block {
  height: 30px;
  width:  30px;
  border: none;
}

.top-left {
/* outline: 1px solid green;*/
  position: absolute;
  height: 5px;
  width: 5px;
  top: 0;
  left: 0;
}

.top-right {
/* outline: 1px solid green;*/

  position: absolute;
  height: 5px;
  width: 5px;
  top: 0;
  right: 34%;
}
.bottom-left {
/* outline: 1px solid green;*/
  position: absolute;
  height: 5px;
  width: 5px;
  bottom: 0;
  left: 0;
}

.bottom-right {
/* outline: 1px solid green;*/
  position: absolute;
  height: 5px;
  width: 5px;
  bottom: 0;
  right: 34%;
}
