::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track {
  background: #000;
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323c39;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  margin: 0 ;
  padding: 0 !important;
}

.card-block {
  height: 82%;
}

.top-left {
  position: absolute;
  background-color: black;
  height: 15%;
  width: 15%;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  background-color: black;
  height: 15%;
  width: 15%;
  top: 0;
  right: 28%;
}
.bottom-left {
  position: absolute;
  background-color: black;
  height: 15%;
  width: 15%;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  background-color: black;
  height: 15%;
  width: 15%;
  bottom: 0;
  right: 28%;
}
