@import "~design-system/variables.scss";


::-webkit-scrollbar {
  width: 22px;
  height: 2px;

}
::-webkit-scrollbar-track {
  background: #000;/*
  border-left: 8px solid #847e87;
  border-right: 8px solid #323c39;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323c39;
  border: $border-pixel solid black;
}

::-webkit-scrollbar-corner {
  background-color: black;
}

::-webkit-scrollbar-track-piece {
  height: $border-pixel;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.left-list {
  border: $border-pixel solid black;
}

.input {
  box-shadow: $box-shadow;
  background-color: #9badb7;
  width: 100%;
  font-size: 14px;
  color: white;
  font-weight: 500;
  border: 2px solid black;
  height: 36px ;
  border-radius: 0 !important;
}



.img-list {
  overflow: hidden;
  left: 1%;
  position: fixed;
  top: calc(2% + 90px);
  width: 208px;
  background-color: $display-background-color;
  border: $border-pixel solid $border-color;
  height: calc(97% - 90px);
  padding-bottom: 2rem



}


.carousel-control-prev , .carousel-control-next {
 margin: 1rem !important;
}

.card {
  background-color: rgba(0,0,0,0);
  max-width: 110%;
  min-height: 20%;
  border: none;
  margin-left: 2px;
  margin-top: 1rem;
  box-shadow: $box-shadow !important;
}

.top-list-input {
  left: 1% ;position: fixed;
  top: 1%;
  width: 208px;
  background-color: #6e7780;
  border: $border-pixel solid black;
  height: 90px
}


.input-field {
  margin-top: 24px;
  margin-right: 8px;
  height: 36px !important;
  border-radius: 0 !important;
}

.card-content {
  background-color: #9badb7;
  height: 80px;
  border: $border-pixel solid black;

}
.card-content-row {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1.5rem
}
.card-content-div {
  border: $border-pixel solid #c1d0f0;
  height: 100%
}

.x-buttom-card {
  position: absolute;
  right: $border-pixel;
  border: none;
  background-color: transparent;top: $border-pixel;
  outline: none !important;
  z-index: 99;
}
.x-buttom-card:active {
  color: #af0000;
}



.search-icon {
  box-shadow: $box-shadow;
  height: 36px;
  width: 33px;
  background-image: url('../../../../src/assets/imgs/lupa.png');
  background-size: 33px;
  image-rendering: pixelated;
  margin-top: 24px;
  margin-left: 8px
}

.back-icon {
  box-shadow: $box-shadow;
  height: 36px;
  width: 33px;
  background-image: url('../../../../src/assets/imgs/back.png');
  background-size: 33px;
  image-rendering: pixelated;
  margin-top: 24px;
  margin-left: 8px
}

