
  <div class="top-list-input" [@changeSize]="currentState" *ngIf="isSearching" >
    <div style="width: 100%; height: 4px; background-color: #8d9ba2"></div>
    <button [@opacity]="inputState" class="x-buttom-card" (click)="onClickSearch()" > X </button>
    <div class="row" style="margin-top: 2px">
      <div [@opacity]="inputState" class="col-sm-3">
        <div class="search-icon"></div>
      </div>
      <div [@opacity]="inputState" class="col-sm-9">
        <div class="form-group input-field">
          <input  type="text" class="form-control form-list">
        </div>
      </div>
    </div>
  </div>

  <div class="top-list-input"  *ngIf="!isSearching" >
    <div style="width: 100%; height: 4px; background-color: #8d9ba2"></div>
    <div class="row">
      <div class="col-sm-3">
        <div class="back-icon" (click)="navigateBack()"></div>
      </div>
      <div  class="col-sm-3">
        <div class="search-icon" (click)="onClickSearch()"></div>
      </div>
    </div>
  </div>



  <div class="img-list" *ngIf="toggleImages">
    <div style="width: 100%; height: 4px; background-color: #8d9ba2"></div>
    <div class="col-sm-12">
      <carousel [(activeSlide)]="_activeBase" [noWrap]="true" (activeSlideChange)="changeCategoryArray($event)"  [showIndicators]="false" [interval]="0">
        <slide *ngFor="let base of arrayBases; let i = index">
          <div class="card">
            <div class="card-content" (click)="emitImage(base)">
              <div class="div card-content-div">
                <div class="row card-content-row">

                  <pixel-image-in-list
                  style="transform: scale(4);"
                  [width]="base.metadata.width"
                  [height]="base.metadata.height"
                  [imgPath]="base.defaultDisplay">
                  </pixel-image-in-list>

                </div>
              </div>
            </div>
          </div>
        </slide>
      </carousel>


      <div *ngIf="arrayCategorias.length > 0">
        <carousel *ngFor="let category of arrayCategorias; let i = index" [noWrap]="true"  [showIndicators]="false" [interval]="0">
          <slide *ngFor="let base of category.objsOfCategory; let y = index">
            <div class="card">
              <button class="x-buttom-card" style=""  (click)="functionRemoveAcessory(base)"> X </button>
              <div class="card-content" (click)="emitImage(base)">
                <div class="div card-content-div">
                  <div class="row card-content-row">

                    <pixel-image-in-list
                    style="transform: scale(4);"
                    [width]="base.metadata.width"
                    [height]="base.metadata.height"
                    [imgPath]="base.defaultDisplay">
                    </pixel-image-in-list>

                  </div>
                </div>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
