<div class="row">

  <div class="col-7">

    <label for="">Pixel scale</label>

  </div>

  <div class="col-3">

    <select class="" name="">

        <option value="normal">normal</option>
        <option value="x2">x2</option>
        <option value="x3">x3</option>
        <option value="x4">x4</option>

    </select>

  </div>


</div>


<hr>

<div class="row">

  <div class="col-7">

    <p>Frames as separate files</p>

  </div>

  <div class="col-3">

    <input type="checkbox" name="" value="">

  </div>

</div>


<div class="row">

  <div class="col-7">

    <p>Layers as separate files</p>

  </div>

  <div class="col-3">

    <input type="checkbox" name="" value="">

  </div>

</div>

<div class="row">

  <div class="col-7">

    <p>Each animation in a new row</p>

  </div>

  <div class="col-3">

    <input type="checkbox" name="" value="">

  </div>

</div>

<hr>

  <div class="row">

    <div class="col-3">
      <label for="">Path</label>

    </div>

    <div class="col-7">

      <input type="text" name="" value="">

    </div>

    <div class="col-2">

      <button type="button" name="button"> ...</button>

    </div>

  </div>

  <div class="row">

    <div class="col-3">
      <label for="">File name</label>

    </div>

    <div class="col-7">

      <input type="text" name="" value="">

    </div>


  </div>

  <div class="row">

    <div class="col-3">

      <label for="">File format</label>

    </div>

    <div class="col-7">

      <select class="" name="">

          <option value="png">png</option>
          <option value="bmp">bmp</option>
          <option value="gif">gif</option>
          <option value="jpg">jpg</option>

      </select>

    </div>


  </div>

  <hr>


  <div class="row">

    <div class="col-6">

      <button type="button" name="button"> Export </button>

    </div>

    <div class="col-6">

      <button type="button" name="button"> Cancel </button>

    </div>

  </div>
