<form [formGroup]="exportParamsForm">

  <div class="row">

    <div class="col-7">

      <label for="">Pixel scale</label>

    </div>

    <div class="col-3">

      <select formControlName="scale">

          <option value="normal">normal</option>
          <option value="x2">x2</option>
          <option value="x3">x3</option>
          <option value="x4">x4</option>

      </select>

    </div>


  </div>


  <hr>


  <div class="row">

    <div class="col-7">

      <p>Layers as separate files</p>

    </div>

    <div class="col-3">

      <input type="checkbox" formControlName="layersAsSeparateFiles">

    </div>

  </div>

  <hr>


  <div class="row">

    <div class="col-7">

      <p>Frames as separate files</p>

    </div>

    <div class="col-3">

      <input type="checkbox" formControlName="framesAsSeparateFiles">

    </div>

  </div>


  <div class="row">

    <div class="col-7">

      <p>Each animation in a new row</p>

    </div>

    <div class="col-3">

      <input type="checkbox" formControlName="animationAsNewRow">

    </div>

  </div>

  <hr>

    <div class="row">

      <div class="col-3">
        <label for="">Path</label>

      </div>

      <div class="col-7">

        <input type="text" formControlName="path">

      </div>

      <div class="col-2">

        <button type="button" name="button" (click)="pathDialog()"> ...</button>

      </div>

    </div>

    <div class="row">

      <div class="col-3">
        <label for="">File name</label>

      </div>

      <div class="col-7">

        <input type="text" formControlName="fileName">

      </div>


    </div>

    <div class="row">

      <div class="col-3">

        <label for="">File format</label>

      </div>

      <div class="col-7">

        <select formControlName="fileFormat">

            <option value="png">png</option>
            <option value="bmp">bmp</option>
            <option value="gif">gif</option>
            <option value="jpg">jpg</option>

        </select>

      </div>


    </div>

    <hr>


    <div class="row">

      <div class="col-6">

        <button type="button" name="button" (click)="exportButton()"> Export </button>

      </div>

      <div class="col-6">

        <button type="button" name="button" (click)="cancelButton()"> Cancel </button>

      </div>

    </div>

</form>
