<div  class="col-sm-10 animator" >
  <div class="row">

    <pixel-image-display  style="margin-right: 5px" *ngFor="let image of images; let i = index"

    [frames]="image.metadata.framesQuantity"
    [height]="image.metadata.height"
    [width]="image.metadata.width"
    [spriteWidth]="image.metadata.spriteWidth"
    [imgPath]="image.display"
    [name]="image.metadata.name"
    [id]="image._id + i"
    [animation]="image.metadata.animations"
    [style.z-index]="i + 1"
    [selectedAnimation]="anim" ></pixel-image-display>

  </div>
</div>
