<pixel-project-management-list (routeDestination)="navigate($event)"> </pixel-project-management-list>

<pixel-box-under-display> </pixel-box-under-display>

<pixel-display-box>
  <pixel-title-card [title]="_project.name"> </pixel-title-card>
</pixel-display-box>

<pixel-modal *ngIf="showModal" (modalOutput)="modalOutput($event)" [title]="modalTitle">

  <pixel-new-project-modal (modalOutput)="modalOutput($event)" [colorPalettes]="palletService.getPalettes()"></pixel-new-project-modal>

</pixel-modal>
