<div class="col">
  <div class="row"><button (click)="navigateCreateCharacterPage()">char</button></div>
 <div class="row"><button (click)="navigateCreateEnemyPage()">enemy</button></div>
  <div class="row"><button (click)="navigateCreateFxPage()">fx</button></div>
  <div class="row"><button (click)="navigateCreateScenarioPage()">scenario</button></div>
  <div class="row"><button (click)="navigateCreateUiPage()">ui</button></div>
  <div class="row"><button (click)="navigateBack()">back</button></div>
</div>


<pixel-box-under-display>

</pixel-box-under-display>
<pixel-display-box>

</pixel-display-box>


<!--<pixel-modal >

  <pixel-export-modal (modalOutput)="modalOutput($event)" [filePath]="filePath" [fileName]="fileName" [fileExtension]="fileExtension"></pixel-export-modal>

</pixel-modal>-->
