@import "~design-system/variables.scss";

.box-height-98-width-77 {
  position: fixed;
  width: calc(77% + (2 *  #{$border-pixel}));
  top: calc(1%);
  right: calc(1% - #{$border-pixel});
  height: 98%;
  background-color: #847f86;
  border: $border-pixel solid black;
}

.line-under {
  width: 100%;
  height: $border-pixel;
  background-color: #8d9ba2
}

.right-dot {
  width: $border-pixel;
  height: $border-pixel;
  position: absolute;
  top: $border-pixel;
  right: 0;
  background-color: black
}

.left-dot {
  width: $border-pixel;
  height: $border-pixel;
  position: absolute;
  top: $border-pixel;
  left: 0;
  background-color: black
}
