<form [formGroup]="form">
  <div class="row" *ngIf="!uploaded">
    <div class="col-sm-10" style="margin: auto">
      <fieldset class="form-group">
        <label style="color: #000; font-size: 28px" for="upload" >Enviar nova foto</label>
        <div style="cursor: pointer" class="custom-file  mx-auto d-block ">
          <input (change)="addPicutre($event)" style="cursor: pointer" type="file" class="custom-file-input" id="upload">
          <label class="custom-file-label" style="color: #000" for="upload">{{imgName}}</label>
        </div>
      </fieldset>
    </div>
  </div>

  <div *ngIf="!uploaded" class="row">
    <div class="col-sm-10" style="margin: auto">
      <button style="border: 1px solid black; font-weight: 600" (click)="uploadPhoto()" class="btn btn-warning">
        {{buttomState}}
      </button>
    </div>
  </div>

  <div *ngIf="uploaded" class="row">
    <div class="col-sm-10" style="margin: auto">
      <button (click)="insercaoMetadados(form.value.name, form.value.frames)" style="border: 1px solid black; font-weight: 600" class="btn btn-warning">
        Salvar
      </button>
    </div>
  </div>

  <div *ngIf="uploaded" style="margin-top: 2rem" class="row">
    <div class="col-sm-10" style="margin: auto">
      <div class="row">
        <div class="col-sm-6">
          <div class="card" style="padding: 1rem; border: 1px solid black;">
            <div class="card-content">
              <div class="row" >
                <div class="col-sm-12">
                  <h4>Inserção de Metadados:</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <fieldset class="form-group">
                    <label style="color: #000" for="upload">Nome</label>
                    <input #spriteName formControlName="name" name="name" style="" type="text" class="form-control input-text">
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <fieldset class="form-group">
                    <label style="color: #000" for="upload">Quantidade de frames</label>
                    <input #spriteFrames formControlName="frames" name="quantity" style="" type="number" class="form-control input-text">
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <fieldset class="form-group">
                    <label style="color: #000; font-size: 24px; font-weight: 400" for="upload">Cores:</label>
                  </fieldset>
                  <div *ngFor="let color of colors; let i = index" class="row" style="margin-top: 4px">
                   <div class="col-sm-2">
                     <app-color-card [color]="color"></app-color-card>
                   </div>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-text" (change)="alteraCoresData($event.target.value, i)" >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 1rem">
                <div class="col-sm-12">
                  <fieldset class="form-group">
                    <label style="color: #000; font-size: 24px; font-weight: 400" for="upload">Animations:</label>
                  </fieldset>
                  <fieldset class="form-group" style="margin-top: -1rem">
                    <label style="color: #000" for="upload">Nome</label>
                    <input #animationName name="animationName" style="" type="text" class="form-control input-text">
                  </fieldset>
                  <fieldset class="form-group">
                    <label style="color: #000" for="upload">Quantidade de frames</label>
                    <input #animationFrames name="animationQuantity" style="" type="number" class="form-control input-text">
                  </fieldset>
                  <div class="row">
                    <div class="col-sm-12">
                      <button (click)="adicionarAnimation(animationName.value, animationFrames.value); animationFrames.value = ''; animationName.value = '';" style="border: 1px solid black; font-weight: 600" class="btn btn-warning">
                        Adicionar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="animationArray.length > 0">
                <div class="col-sm-10" style="margin: auto">
                  <table class="table" style="margin-top: 2rem">
                    <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th>Frames</th>
                      <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let animation of animationArray">
                      <td>{{animation.name}}</td>
                      <td>{{animation.frames}}</td>
                      <td><i (click)="removeFile(animation)" style="cursor: pointer" class="icon-waste"></i></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row" *ngIf="animationArray.length > 0">
            <div class="col-sm-6">
              <fieldset class="form-group">
                <label for="seguradora" style="font-size: 28px">Animation Select</label>
                <select [(ngModel)]="animationSelect"  class="form-control input-text" id="seguradora" [ngModelOptions]="{standalone: true}">
                  <option [value]="i" *ngFor="let animation of animationArray; let i = index">{{animation.name}}</option>
                </select>
              </fieldset>
            </div>
          </div>
          <div class="row" *ngIf="animationArray.length > 0">
            <div class="col-sm-12" style="display: flex; justify-content: center; margin: 25% auto;">
              <app-image-display  [imgPath]="'http://161.35.10.72:3000/files/'+path" style="transform: scale(10)" [height]="height" [width]="frameWidth" [animation]="animationArray" [selectedAnimation]="animationSelect" [id]="'aaa'" [name]="spriteName" [spriteWidth]="width" [frames]="form.value.frames"></app-image-display>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</form>
