<nav class="navbar" style="background-color: black;">
<div class="row" style="width: 100%; padding: 4px">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-1">
        <button (click)="navigateList()" class="btn-warning float-right btn">
          <a>Lista</a>
        </button>
      </div>
      <div class="col-sm-1 ">
        <button (click)="navigateUpload()" class="btn-warning float-right btn ">
          <a>Upload</a>
        </button>
      </div>
      <div class="col-sm-1 ">
        <button (click)="navigatePaleta()" class="btn-warning float-right btn ">
          <a>Paleta</a>
        </button>
      </div>
      <div class="col-sm-1 ">
        <button (click)="navigateTileSet()" class="btn-warning float-right btn ">
          <a>TileSet</a>
        </button>
      </div>
    </div>
  </div>
</div>

</nav>
