<form [formGroup]="exportParamsForm">

  <div class="row">
    <div class="col-4">
      <label for="">Export as...</label>
    </div>

    <div class="col-6">
      <select class="input" (change)="exportAsChanged($event.target.value)" formControlName="exportAs">
        <option value="spritesheet">sprite sheet</option>
        <option value="frames">separate frames</option>
        <option value="gif">gif</option>
      </select>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-7">
      <label for="">Pixel scale</label>
    </div>

    <div class="col-3">
      <select formControlName="scale" class="input">
        <option value="x1">x1</option>
        <option value="x2">x2</option>
        <option value="x3">x3</option>
        <option value="x4">x4</option>
      </select>

    </div>
  </div>

  <div *ngIf="exportAs() !== 'gif'">    

    <hr>

    <input id="switch-1" type="checkbox" class="switch-input" formControlName="layersAsSeparateFiles" />
      <label for="switch-1">Layers as separate files</label>


  </div>

  <div *ngIf="exportAs() === 'spritesheet'">

    <hr>

        <input id="switch-2" type="checkbox" class="switch-input" formControlName="animationAsNewRow" />
        <label for="switch-2">Each animation in a new row</label>


    <hr>

        <input id="switch-3" type="checkbox" class="switch-input" formControlName="animationAsSeparateFile" />
          <label for="switch-3">Each animation in a separate file</label>


  </div>

  <hr>

  <div class="row">
    <div class="col-3">
      <label for="">Path</label>
    </div>

    <div class="col-7">
      <input class="input" type="text" formControlName="path">
    </div>

    <div class="col-2">
      <pixel-simple-button [currentState]="currentStatePath" (click)="pathDialog()" [text]="' ...'"> </pixel-simple-button>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <label for="">File name</label>
    </div>

    <div class="col-7">
      <input class="input" type="text" formControlName="fileName">
    </div>
  </div>

  <div *ngIf="exportAs() !== 'gif'">

    <hr>
    <div  class="row">
      <div class="col-3">
        <label for="">File format</label>
      </div>

      <div class="col-7">
        <select class="input" formControlName="fileFormat">
          <option value="png">png</option>
          <option value="bmp">bmp</option>
          <option value="jpg">jpg</option>
        </select>
      </div>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-3">
      <pixel-simple-button [currentState]="currentStateExport" [text]="'Export'" (click)="exportButton()"></pixel-simple-button>
    </div>

    <div class="col-6 float-right">
      <pixel-simple-button [currentState]="currentStateCancel" [text]="'Cancel'" (click)="cancelButton()"></pixel-simple-button>
    </div>

  </div>
</form>
