<div class="row">
  <div class="col-9">

    <input class="input" type="text"[(ngModel)]="filterString">
  </div>
  <div class="col-3">
    <pixel-simple-button (click)="filterSprites()"  [text]="'Search'" ></pixel-simple-button>
  </div>

</div>
<hr>
<div class="row">



  <div class="col-4" *ngFor="let sprite of filteredSpriteList">
    <div class="card-content" (click)="emitImage(sprite)"  > <!--(click)="emitImage(base)"-->
      <div class="div card-content-div">
        <div class="row card-content-row">

          <pixel-image-in-list
            style="transform: scale(4);"
            [width]="sprite.metadata.width"
            [height]="sprite.metadata.height"
            [imgPath]="sprite.defaultDisplay">
          </pixel-image-in-list>

        </div>
      </div>
    </div>
  </div>
</div>
