<div class="row">
  <div class="col" *ngFor="let sprite of spriteList">
    <div class="card-content" (click)="emitImage(sprite)"  > <!--(click)="emitImage(base)"-->
      <div class="div card-content-div">
        <div class="row card-content-row">

          <pixel-image-in-list
            style="transform: scale(4);"
            [width]="sprite.metadata.width"
            [height]="sprite.metadata.height"
            [imgPath]="sprite.defaultDisplay">
          </pixel-image-in-list>

        </div>
      </div>
    </div>
  </div>
</div>
