@import "../../../variables";

.card-content {
  background-color: #9badb7;
  height: 80px;
  border: $border-pixel solid black;

}
.card-content-row {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1.5rem
}
.card-content-div {
  border: $border-pixel solid #c1d0f0;
  height: 100%
}

.card {
  background-color: rgba(0,0,0,0);
  max-width: 110%;
  min-height: 20%;
  border: none;
  margin-left: 2px;
  margin-top: 1rem;
  box-shadow: $box-shadow !important;
}
