@import "~design-system/variables.scss";

$asd: - #{$border-pixel} !default;

.display-box {
  position: fixed;
  width: calc(76%);
  top: calc(2% + (1 *  #{$border-pixel}));
  right: calc(2% - (1 *  #{$border-pixel}));
  height: calc(58% -  #{$border-pixel});
  background-color: #6e7780;
  border: $border-pixel solid #d6e4db
}

.top-black-line {
  width: 100%;
  height: $border-pixel;
  background-color: black
}

.right-black-line {
  height: calc(100% -  #{$border-pixel});
  width: $border-pixel;
  position: absolute;
  right: 0;
  background-color: black
}

.botton-black-line {
  width: 100%;
  height: $border-pixel;
  background-color: black;
  position: absolute;
  bottom: 0
}

.left-black-line {
  height: calc(100% -  #{$border-pixel});
  width: $border-pixel;
  position: absolute;
  left: 0;
  background-color: black
}
