@import "~design-system/variables.scss";

$asd: - #{$border-pixel} !default;

.display-box {
  position: fixed;
  width: calc(97% - (212px + (1.5 * #{$border-pixel})));
  top: calc(2% + (1 *  #{$border-pixel}));
  right: calc(1% + (1* #{$border-pixel}));
  height: calc(58% -  #{$border-pixel});
  background-color: $display-background-color;
  border: $border-pixel solid #d6e4db
}


@media screen and (max-width: 579px)  {
  .display-box {
    width: calc(97% - (212px + (5 * #{$border-pixel}) ) );
  }
}

@media screen and (min-width: 580px) and (max-width: 679px) {
  .display-box {
    width: calc(97% - (212px + (4 * #{$border-pixel}) ) );
  }
}

@media screen and (max-width: 780px) and (min-width: 680px) {
  .display-box {
    width: calc(97% - (212px + (3.5 * #{$border-pixel}) ) );
  }
}

@media screen and (max-width: 1074px) and (min-width: 779px) {
  .display-box {
    width: calc(97% - (212px + (3 * #{$border-pixel}) ) );
  }
}

@media screen and (min-width: 1075px) and (max-width: 1374px) {
  .display-box {
    width: calc(97% - (212px + (2.5 * #{$border-pixel}) ) );
  }
}






/* For Tablets */


.top-black-line {
  width: 100%;
  height: $border-pixel;
  background-color: black
}

.right-black-line {
  height: calc(100% -  #{$border-pixel});
  width: $border-pixel;
  position: absolute;
  right: 0;
  background-color: black
}

.botton-black-line {
  width: 100%;
  height: $border-pixel;
  background-color: black;
  position: absolute;
  bottom: 0
}

.left-black-line {
  height: calc(100% -  #{$border-pixel});
  width: $border-pixel;
  position: absolute;
  left: 0;
  background-color: black
}
